.navbar-v1{
    border: 0;
    margin-bottom: 0;
}
.navbar-v1 .navbar-collapse {
    border: 0;
    box-shadow: none;
}
.navbar-v1{
    @media screen and (max-width : $screen-xs-max){
        .navbar-nav{
            > li{
                > a{
                    border-bottom: 1px solid $lighter-blue;
                }
            }
        }
        .navbar-nav{
            &.navbar-right{
                margin-top: 0px;
                margin-bottom: 0px;
                > li{
                    &:nth-child(2n+1){
                        > a{
                            border-right: 1px solid $lighter-blue;
                        }
                    }
                    &:first-child,
                    &:nth-child(2){
                        > a{
                            border-top: 1px solid $lighter-blue;
                        }
                    }
                    &:last-child{
                        > a{
                            border-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
.navbar-v1{
    @media screen and (max-width : $screen-xs-max){
        .navbar-nav{
            &.navbar-right{
                > li{
                    float: left;
                    width: 50%;
                }
            }
        }
    }
}
.navbar-v1 .navbar-nav-custom{
    position: relative;
    z-index: 1;
    float: none;
    margin: 0 -15px;
    > li{
        > a{
            font-size: 17px;
            font-weight: bold;
            color: $dark-blue;
        }
    }
    @media screen and (max-width : $screen-xs-max){
        background-color: $light-blue; // temporary background-color
        > li{
            > a{
                color: #fff;
            }
            &:first-child{
                > a{
                    border-top: 1px solid $lighter-blue;
                }
            }
        }
    }
    
    
    @media screen and (min-width : $screen-tablet){
        text-align: center;
        > li{
            width: 25%;
            > a{
                border-left: solid 1px $lighter-blue;
            }
            &:last-child{
                > a{
                    border-right: solid 1px $lighter-blue;
                }
            }
        }
        
        
        
        
        
        &::before{
            display: block;
            position: absolute;
            content: '';
            top: 0;
            left: 0;
            width: 10000px;
            height: 100%;
            background-color: #fff;
             box-shadow: 0 0 3px rgba(0, 72, 100, 0.5);
            pointer-events: none;
            transform: translateX(-50%);
        }
    }
}