/* line 14, components/sass-bootstrap/mixins/_clearfix.scss */
.wrapper:before, .wrapper:after {
	content: " ";
	display: table;
}

/* line 19, components/sass-bootstrap/mixins/_clearfix.scss */
.wrapper:after {
	clear: both;
}

/* line 8, components/sass/base/_normalize_base.scss */
.wrapper {
	display: block;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0 !important;
	padding-right: 0 !important;
}

/* line 15, components/sass/base/_normalize_base.scss */
.wrapper > .inner-wrapper {
	overflow: hidden;
	height: auto;
}

/* line 20, components/sass/base/_normalize_base.scss */
.section {
	height: 600px;
	margin-bottom: 100px;
}

/* line 24, components/sass/base/_normalize_base.scss */
.section.darker {
	background-color: #005984;
}

/* line 27, components/sass/base/_normalize_base.scss */
.section.dark {
	background-color: #0073ae;
}

/* line 30, components/sass/base/_normalize_base.scss */
.section.pure {
	background-color: #00a4e4;
}

/* line 33, components/sass/base/_normalize_base.scss */
.section.light {
	background-color: #50c8e8;
}

/* line 36, components/sass/base/_normalize_base.scss */
.section.lighter {
	background-color: #ade0ee;
}

/* line 39, components/sass/base/_normalize_base.scss */
.section.orange {
	background-color: #e36f1e;
}

/* line 42, components/sass/base/_normalize_base.scss */
.section.green {
	background-color: #78a22f;
}

/* line 45, components/sass/base/_normalize_base.scss */
.section.grape {
	background-color: #00a4e4;
}

/* line 48, components/sass/base/_normalize_base.scss */
.section.red {
	background-color: #c41c30;
}

/* line 51, components/sass/base/_normalize_base.scss */
.section.yellow {
	background-color: #fdb913;
}

/* line 54, components/sass/base/_normalize_base.scss */
.section.black {
	background-color: #000000;
}

/* line 57, components/sass/base/_normalize_base.scss */
.section.grey-11 {
	background-color: #54565b;
}

/* line 60, components/sass/base/_normalize_base.scss */
.section.grey-9 {
	background-color: #76777b;
}

/* line 63, components/sass/base/_normalize_base.scss */
.section.grey-6 {
	background-color: #a8a8aa;
}

/* line 66, components/sass/base/_normalize_base.scss */
.section.grey-2 {
	background-color: #d1d0ce;
}

/* line 3, components/sass/components/_type.scss */
h5.footer-header {
	font-size: 16px;
	font-weight: 900;
	margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
	/* line 3, components/sass/components/_type.scss */
	h5.footer-header {
		border-bottom: solid 1px #a8a8aa;
		padding-bottom: 12px;
	}
}

@media screen and (max-width: 767px) {
	/* line 2, components/sass/components/_navbar.scss */
	.dropdown {
		overflow: hidden;
	}
}

/* line 7, components/sass/components/_navbar.scss */
.navbar-v1 {
	border: 0;
	margin-bottom: 0;
}

/* line 11, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-brand {
	padding: 8px 0;
}

@media screen and (max-width: 767px) {
	/* line 11, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-brand {
		padding: 8px 15px;
	}
}

/* line 17, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-collapse {
	border: 0;
	-webkit-box-shadow: none;
	        box-shadow: none;
}

@media screen and (max-width: 767px) {
	/* line 25, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav > li > a {
		border-bottom: 1px solid #ade0ee;
	}
	/* line 31, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav.navbar-right {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	/* line 36, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav.navbar-right > li:nth-child(2n+1) > a {
		border-right: 1px solid #ade0ee;
	}
	/* line 42, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav.navbar-right > li:first-child > a, .navbar-v1 .navbar-nav.navbar-right > li:nth-child(2) > a {
		border-top: 1px solid #ade0ee;
	}
	/* line 47, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav.navbar-right > li:last-child > a {
		border-bottom: 0;
	}
}

@media screen and (max-width: 767px) {
	/* line 60, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav.navbar-right > li {
		float: left;
		width: 50%;
	}
}

/* line 68, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-nav-custom {
	position: relative;
	z-index: 1;
	float: none;
	margin: 0 -15px;
}

@media screen and (max-width: 767px) {
	/* line 68, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom {
		background-color: #50c8e8;
	}
	/* line 76, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li > a {
		color: #fff;
	}
	/* line 80, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li:first-child > a {
		border-top: 1px solid #ade0ee;
	}
}

@media screen and (min-width: 768px) {
	/* line 68, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom {
		text-align: center;
	}
	/* line 90, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li {
		width: 25%;
	}
	/* line 92, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li > a {
		position: relative;
		z-index: 1;
		font-size: 17px;
		font-weight: bold;
		color: #0073ae;
		border-left: solid 1px #ade0ee;
	}
	/* line 99, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li > a:hover, .navbar-v1 .navbar-nav-custom > li > a:focus {
		background-color: #00a4e4;
	}
	/* line 105, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li:last-child > a {
		border-right: solid 1px #ade0ee;
	}
	/* line 113, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li.open > a {
		background-color: #00a4e4 !important;
		border-color: #ade0ee;
	}
	/* line 116, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li.open > a:hover, .navbar-v1 .navbar-nav-custom > li.open > a:focus {
		background-color: #00a4e4 !important;
	}
	/* line 120, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom > li.open > a::before {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		pointer-events: none;
		border-top: solid 5px #fff;
		border-left: solid 5px #fff;
		border-right: solid 5px #fff;
	}
	/* line 139, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom::before {
		display: block;
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 10000px;
		height: 100%;
		background-color: #fff;
		-webkit-box-shadow: 0 0 3px rgba(0, 72, 100, 0.5);
		        box-shadow: 0 0 3px rgba(0, 72, 100, 0.5);
		pointer-events: none;
		-webkit-transform: translateX(-50%);
		    -ms-transform: translateX(-50%);
		        transform: translateX(-50%);
	}
}

/* line 154, components/sass/components/_navbar.scss */
.dropdown-menu.animated {
	/* Speed up animations */
	-webkit-animation-duration: 0.55s;
	animation-duration: 0.55s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

/* line 164, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-nav-custom .mega-dropdown {
	position: static;
}

/* line 166, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-nav-custom .mega-dropdown .dropdown-menu {
	border: 0;
	border-radius: 0;
	min-width: inherit;
	background-color: #00a4e4;
	-webkit-box-shadow: none;
	        box-shadow: none;
	left: 0;
	padding: 0;
}

/* line 174, components/sass/components/_navbar.scss */
.navbar-v1 .navbar-nav-custom .mega-dropdown .dropdown-menu .mega-menu {
	padding: 10px 0;
	color: #fff;
}

@media screen and (min-width: 768px) {
	/* line 174, components/sass/components/_navbar.scss */
	.navbar-v1 .navbar-nav-custom .mega-dropdown .dropdown-menu .mega-menu {
		padding: 30px 0;
	}
}

/* line 5, components/sass/components/_breadcrumbs.scss */
.breadcrumb-holder .breadcrumb {
	margin-bottom: 0;
	background-color: transparent;
	border-radius: 0;
}

/* line 14, components/sass/components/_breadcrumbs.scss */
.breadcrumb-holder .breadcrumb > li {
	font-weight: bold;
}

/* line 16, components/sass/components/_breadcrumbs.scss */
.breadcrumb-holder .breadcrumb > li > a {
	color: #000000;
}

/* line 22, components/sass/components/_breadcrumbs.scss */
.breadcrumb-holder .breadcrumb > .active {
	color: #000000;
}

/* line 1, components/sass/components/_footer.scss */
.footer-v2 {
	border-top: solid 1px #d1d0ce;
	border-bottom: solid 3px #00a4e4;
	padding: 20px 0;
}

@media screen and (max-width: 767px) {
	/* line 1, components/sass/components/_footer.scss */
	.footer-v2 {
		padding: 10px 0;
	}
}

/* line 9, components/sass/components/_footer.scss */
.footer-v3 {
	padding: 30px 0 20px 0;
	background-color: #f5f5f5;
}

@media screen and (max-width: 767px) {
	/* line 9, components/sass/components/_footer.scss */
	.footer-v3 {
		padding: 10px 0;
	}
}

/* line 16, components/sass/components/_footer.scss */
.footer-copy {
	padding: 10px 0;
	background-color: #00a4e4;
}

/* line 19, components/sass/components/_footer.scss */
.footer-copy .copy {
	color: #fff;
}

@media screen and (max-width: 767px) {
	/* line 24, components/sass/components/_footer.scss */
	.footer-item ul {
		text-align: center;
	}
}

/* line 28, components/sass/components/_footer.scss */
.footer-item ul > li {
	display: block;
}

/* line 30, components/sass/components/_footer.scss */
.footer-item ul > li + li {
	margin-top: 10px;
}

/* line 33, components/sass/components/_footer.scss */
.footer-item ul > li > a {
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}

/* line 41, components/sass/components/_footer.scss */
.footer-row-box {
	margin-top: 20px;
}

/* line 43, components/sass/components/_footer.scss */
.footer-row-box ul {
	margin: 0 -15px;
}

/* line 45, components/sass/components/_footer.scss */
.footer-row-box ul > li {
	display: inline-block;
	vertical-align: top;
	padding: 0 15px;
	margin-bottom: 10px;
}

/* line 50, components/sass/components/_footer.scss */
.footer-row-box ul > li > a {
	font-size: 13px;
	font-weight: bold;
	color: #000000;
}

/*# sourceMappingURL=maps/style.css.map */
